<h1>Lista Pacjentów</h1>

<%== pagy_nav(@pagy) %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>last name</th>
      <th>pesel</th>
      <th>city</th>
      <th>birth date</th>
      <th>gender</th>
      <th>Zarezerwowane Wizyty</th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.first_name %></td>
        <td><%= patient.last_name %></td>
        <td><%= patient.pesel %></td>
        <td><%= patient.city %></td>
        <td><%= patient.birth_date %></td>
        <td><%= patient.gender %></td>
        <td><%= link_to 'Add appoitment', new_appointment_path(patient_id: patient.id) %></td>
        <td><%= link_to patient.appointments.count, patient_appointments_path(patient) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%== pagy_nav(@pagy) %>