<table>
  <thead>
    <tr>
      <th>Lekarz</th>
      <th>Pacjent</th>
      <th>Cena</th>
    </tr>
  </thead>
  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.doctor.first_name %> <%= appointment.doctor.last_name %></td>
        <td><%= appointment.patient.first_name %> <%= appointment.patient.last_name %></td>
        <td><%= number_to_currency(appointment.price, unit: 'PLN', format: "%n %u") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
