<!DOCTYPE html>
<html>
  <head>
    <title>MediBooker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg bg-blue">
    <div class="container-fluid">
          <a class="navbar-brand navbar-brand-custom " href="<%= root_path %>">MediBooker</a>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item me-2">
                <%= button_to 'Lista pacjentów', patients_path, method: :get, class: 'btn btn-accent2' %>
              </li>
              <li class="nav-item me-2">
                <%= button_to 'Lista wizyt', appointments_path, method: :get, class: 'btn btn-accent2' %>
              </li>
              <li class="nav-item">
                <%= button_to 'Statystyka urodzeń', statistics_path, method: :get, class: 'btn btn-accent2' %>
              </li>
            </ul>
          </div>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
